.dialogue{
    position: fixed;
    background:rgb(51, 51, 51);
    border: black 10px solid;
    height:30vh;
    width:75vw;
    left: 11vw;
    bottom: 5vh;
    color: white;
    padding: 1em;
    font-size: 16px;
    font-weight: 700;
}

.left-ppl{
    position: absolute;
    top: 15vh;
    height: 55vh;
    left: 15vw;
}

.right-ppl{
    position: absolute;
    top: 15vh;
    height: 55vh;
    right: 15vw;
}

.md-ppl{
    position: fixed;
    top: 44%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#lifegame .btn {
    border:4px solid black;
    background: white;
    color: black;
    margin-top: 3px;
    font-weight: 700;
}

#lifegame h1 {
    font-weight: 800;
}

h3{
font-size: 36px;
line-height: 1.5;
}

#gametwo h3{
margin-bottom: 30px;

}
