#highlight {
    padding: 10vh;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.sticky-top {
    position: sticky;
    top: 60px;
}

.slideanimate {
    visibility: hidden;
    margin-bottom: 3vh;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

body {
    position: relative;
}

#nav {
    top: 0px;
    left: 0px;
    width: 50px;
    z-index: 999;
}

#nav a {
    height: 20vh;
    background-color: rgba(255, 255, 255, 0.1);
    overflow-wrap: break-word;
    border: none;
    margin-top: 10px;
}

#nav a.active {
    background-color: rgba(255, 255, 255, 0.5);
    color:lemonchiffon;
}

p {
    font-size: 20px;
}

.fadeout {
    opacity: 0;
    transition: opacity 1s linear;
}

.fadein {
    opacity: 1;
}

#fullpage_1 {
    background-image: url('../assets/fullpage_1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}

#color1{
    width: 200px;
    margin-left: 250px;
}

#sketch1{
    width: 550px;
    margin-left: 80px;
    margin-top: 150px;
}

#fullpage_2 {
    background-image: url('../assets/fullpage_2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}

sticky-top fadeout{
    background-attachment: fixed;
}

#color3{
    width: 250px;
    margin-top: 50vh;
}

#pie1{
    width: 40vw;
}

#pie2{
    width: 40vw;
    display: none;
}
