/* 思源黑體的版本 */
/* body{
    font-family: 'Noto Sans TC', sans-serif;
} */
/* 下載英文8bit字體 */
@font-face{
    font-family: slkscr;
    src: url("slkscr.ttf");
}

body{
    font-family: "slkscr", Noto Sans TC;
}

.cover-head{
    position: fixed;
    height: 25vh;
    width: 100%;
    top: 15vh;
}

.cover-head h1{
    font-size: 95px;
    color: white;
}

.cover-btn{
    position: fixed;
    height: 40vh;
    width: auto;
    top: 55vh;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 35px;
    color: white;
    font-family: 'slkscr', Noto Sans TC;
}

.cover-btn #start:hover{
    color: #1a3b7e;
}
.cover-btn #skip:hover{
    color: #1a3b7e;
}

.pplImages{
    position: relative;
    top: 10vh;
    height: 50vh;
    max-width: 80vw;
}

.pplImages #left-ppl{
    position: absolute;
    height: 55vh;
    left: 3vw;
    bottom: 0px;
}

.pplImages #md-ppl {
    position: absolute;
    height: 52vh;
    bottom: -1.5vh;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
}

.dialogue{
    position: relative;
    top: 10vh;
    background:rgba(0,0,0,0.9);
    border: white 5px double;
    height:35vh;
    color: white;
    font-size: 30px;
    font-weight: 700;
    max-width: 80vw;
}

#buttonClick .btn {
    border:4px solid black;
    background: white;
    color: black;
    font-size: 23px;
    font-weight: 700;
}

#buttonClick .btn:hover::before{
    /* content: "▶ "; */
    content: ">> ";
}


#nextClick{
    color:gray;
    font-family: slkscr;
}

#nextClick:hover{
    color:white;
}

@media only screen and (max-width: 480px) {
    .pplImages{
        top: 7vh;
    }
    .dialogue{
        top: 7vh;
        height: 40vh;
        max-width: 95vw;
        font-size: 20px;
    }
  }


h3{
    font-size: 2em;
    font-weight: 600;
    line-height: 1.5;
    color: #2450A6;
}
